<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
  title Bouncy Ball
  link(rel="stylesheet", href="dist/style.css")
body

  h1.align-center Assignment 3 - Advanced web UI

  h2.align-center Try to push it left using your mouse!

  img.ball(src="img/silly_putty.png", alt="Silly putty ball")
